@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./global.css";
@import "./layout.css";
@import "./widgets.css";
@import "./pages.css";

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold mb-2;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
    background-color: #F3F0ED !important;
    @apply text-gray-600;
}

#logo {
    @apply text-2xl font-bold mt-3 invisible sm:visible;
}

.spaced-content > * {
    @apply mb-6;
}

.vocdoni-logo {
    @apply text-right h-full text-2xl font-light flex items-center justify-end;

    img {
        @apply inline-block ml-3;
        height: 40px;
    }
}

.account-avatar {
    @apply mr-2 w-10 h-10;

    .ficon svg {
        @apply w-full h-full;
        stroke-width: 1;
    }
}

.login-form {
    @apply flex flex-col;

    .selected-account {
        @apply my-16 items-center flex flex-col;
    }

    .account-avatar {
        @apply block mr-0 mb-2 w-16 h-16;
    }
}

.anticon,
.ant-message .anticon,
.ficon svg {
    @apply inline-block w-4 h-4 relative -top-0.5;
}

.process-steps .anticon-loading {
    @apply -top-1;
}

.process-steps li {
    @apply mb-1;
}

.process-steps li span {
    @apply mr-3;
}

.account-selection ul {
    @apply mt-8;
}

.account-selection ul li {
    @apply mb-3;
}

.form-group {
    @apply mb-5;
}

.form-control {
    @apply rounded-lg p-2.5 py-3 w-full;
    background-color: #E7E4E1;
    outline: none;
    transition: box-shadow 0.25s ease-out;

    &.form-sm {
        @apply text-xs py-2.5;
    }
}

.btn {
    transition: all 0.5s ease;
    @apply py-2 px-4 rounded-md bg-gray-200 font-semibold;

    &[disabled] {
        @apply cursor-not-allowed;
    }

    &.primary {
        @apply bg-blue-400 text-white;

        &[disabled] {
            @apply bg-blue-300;
        }
    }

    &.dark {
        background-color: #646464;
        @apply text-white;

        &[disabled] {
            background-color: #6464644F;
        }
    }
}

.form-control:focus {
    box-shadow: 0 0 20px white;
}


/* note that most of these styles were imported from old css, instead than porting them to proper tailwing styling */
.card-list {
    margin-top: 2em;
}

.inline-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #ddd;
    background-color: white;
}
.inline-card.unsync {
    opacity: .7;
}
.inline-card .unsync {
    color: lightgray;
}
.inline-card a {
    color: var(--main-color);
}
.inline-card a:focus,
.inline-card a:active,
.inline-card a:hover {
    color: black;
}

.inline-card-contents,
.inline-card-contents .state {
    display: flex;
    justify-content: space-between;
}

.inline-card-contents .state {
    flex-direction: column;
    font-size: smaller;
}

@media (min-width: 640px) {
    .inline-card-contents .state {
        flex-direction: row;
    }
}

.state .status {
    color: orange;
    font-weight: bold;
}

.state .status.finished {
    color: var(--cyan);
}

.inline-card-contents {
    flex-direction: column;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.inline-card-img {
    margin-right: 15px;
    min-height: 80px;
}

.inline-card-img a {
    display: block;
    height: 100%;
}

.background-cover-image {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 150px;
    background-size: cover;
    background-position: center center;
}

.note {
    background-color: var(--clear-95);
    padding: 1em;
    color: var(--gray-90);
    font-size: .9em;
}

.ant-layout {
    background-color: #F3F0ED;
}
