/* Main Layout */

#layout {}

#layout .top-bar {
    background-color: var(--main-color);
    padding: 15px;
}
#layout .top-bar h2 {
    margin: 0;
}
#layout .top-bar a {
    text-decoration: none;
}

#layout .content {
    padding: 10px 20px;
}
