/* Main Layout */

#layout {}

#layout .top-bar {
    background-color: var(--main-color);
    padding: 15px;
}
#layout .top-bar .title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
#layout .top-bar a {
    text-decoration: none;
}

#layout .content {
    padding: 10px 20px;
}
