/* VIEW */
#entity-view .body-card .ant-col img.avatar {
    max-width: 60px;
    float: right;
}

/* EDIT */

#entity-edit .body-card {

}

#entity-edit .body-card img.header-image {
    max-width: 90%;
}
#entity-edit .body-card .right-col {
    text-align: right;
}

/* CREATE */