/* VIEW */
#post-view .body-card .ant-list-item-meta-avatar img{
    max-width: 60px;
}

#post-view .body-card .ant-list-item-meta-title {
    margin-top: 0;
}

#post-view .body-card .ant-list-item-action .icon-text {
    line-height: 36px;
}

#post-view .body-card .ant-list-item-action a {
    text-decoration: none;
}

#post-view .body-card .ant-list-item-action .icon-text:hover {
    color: rgba(0, 0, 0, 0.75);
}

/* EDIT */

#post-edit .body-card {

}

#page-body img {
    max-width: 100%;
}

.editor-box {
    min-height: 15vh;
    max-height: 35vh;
}

#post-edit .wrapper-box {
    border: 1px solid #F1F1F1;
}

#post-edit .toolbar-box {
    border: none;
    border-bottom: 1px solid #F1F1F1;
}

#post-edit .editor-box {
    padding: 0 16px;
}

#post-edit .right-col {
    text-align: right;
}
#post-edit img.preview {
    max-width: 90%;
}

/* CREATE */

#post-new .wrapper-box {
    border: 1px solid #F1F1F1;
}

#post-new .toolbar-box {
    border: none;
    border-bottom: 1px solid #F1F1F1;
}

#post-new .editor-box {
    padding: 0 16px;
}

#post-new .right-col {
    text-align: right;
}
#post-new img.preview {
    max-width: 90%;
}
