#metamask-state {
    padding: 24px;
    padding-top: 0;
    background: #fff
}

#metamask-state .login, #metamask-state .install {
    padding-top: 30px;
}
#metamask-state .main-button, #metamask-state .main-skeleton {
    padding-top: 30px;
    text-align: center;
}
