.card {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}
.canvas-wrapper.grayed {
    padding: .75em;
    background-color: var(--clear-95);
}
.canvas-wrapper.grayed canvas {
    padding: 5px;
    background-color: white;
}
.canvas-wrapper > a {
    display: flex;
}
.canvas-wrapper canvas {
    height: auto !important;
    max-width: 100%;
}

.ant-typography.ant-typography-ellipsis-single-line {
    display: block;
}

.ant-select-selection-item-content .anticon.anticon-delete,
.disabled-layer > .disabled-notice {
    display: none;
}

.ant-select-item-option-content .anticon.anticon-delete {
    padding-right: 5px;
}

.disabled-layer.disabled {
    position: relative;
    pointer-events: none;
}

.disabled-layer.disabled::after,
.disabled-layer.disabled > .disabled-notice {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.disabled-layer.disabled > .disabled-notice {
    z-index: 2;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.disabled-layer.disabled::after {
    content: "";
    background-color: rgba(255, 255, 255, .8);
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.form-bottom {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.form-bottom button {
    margin-bottom: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-actions .ant-typography {
    padding-left: 15px;
    margin-bottom: 5px;
}

.player-wrapper {
    position: relative;
     /* Player ratio: 100 / (1280 / 720) */
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.dragger-fix + span {
    display: block;
    overflow: hidden;
}

.bottom-button-wrapper button + button {
    margin-left: .5em;
}
