.card {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}
.canvas-wrapper.grayed {
    padding: .75em;
    background-color: var(--clear-95);
}
.canvas-wrapper.grayed canvas {
    padding: 5px;
    background-color: white;
}
.canvas-wrapper > a {
    display: flex;
}
.canvas-wrapper canvas {
    height: auto !important;
    max-width: 100%;
}

.ant-typography.ant-typography-ellipsis-single-line {
    display: block;
}

.ant-select-selection-item-content .anticon.anticon-delete,
.disabled-layer > .disabled-notice {
    display: none;
}

.ant-select-item-option-content .anticon.anticon-delete {
    padding-right: 5px;
}

.disabled-layer.disabled {
    position: relative;
    pointer-events: none;
}

.disabled-layer.disabled::after,
.disabled-layer.disabled > .disabled-notice {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.disabled-layer.disabled > .disabled-notice {
    z-index: 2;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.disabled-layer.disabled::after {
    content: "";
    background-color: rgba(255, 255, 255, .8);
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.form-bottom {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.form-bottom button {
    margin-bottom: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-actions .ant-typography {
    padding-left: 15px;
    margin-bottom: 5px;
}

.player-wrapper {
    position: relative;
     /* Player ratio: 100 / (1280 / 720) */
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.dragger-fix + span {
    display: block;
    overflow: hidden;
}

.bottom-button-wrapper button + button {
    margin-left: .5em;
}

.card-list {
    margin-top: 2em;
}

.inline-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #ddd;
    background-color: white;
}
.inline-card a {
    color: var(--main-color);
}
.inline-card a:focus,
.inline-card a:active,
.inline-card a:hover {
    color: black;
}

.inline-card-contents,
.inline-card-contents .state {
    display: flex;
    justify-content: space-between;
}

.inline-card-contents .state {
    flex-direction: column;
    font-size: smaller;
}

@media (min-width: 640px) {
    .inline-card-contents .state {
        flex-direction: row;
    }
}

.state .status {
    color: orange;
    font-weight: bold;
}

.state .status.finished {
    color: var(--cyan);
}

.inline-card-contents {
    flex-direction: column;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.inline-card-img {
    margin-right: 15px;
    min-height: 80px;
}

.inline-card-img a {
    display: block;
    height: 100%;
}

.background-cover-image {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 150px;
    background-size: cover;
}

.note {
    background-color: var(--clear-95);
    padding: 1em;
    color: var(--gray-90);
    font-size: .9em;
}
